@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
            <h3>Conversor de Tempo</h3>
        </div>

        <article style="margin-top:20px;margin-bottom:20px;">
            @Body
        </article>
    </main>

    <footer>
        <a href="https://github.com/alexdsouzaf" class="link-secondary"> 
            alexdsouzaf
        </a>
        (⌐■_■)
    </footer>
</div>
